<?xml version="1.0" encoding="UTF-8"?>
<!--widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/01org/webapps-hangonman" version="1.0" viewmodes="fullscreen">
    <icon src="icon_128.png"/>
    <content src="index.html"/>
<name>hangonman</name>
<tizen:application id="nrT4AQuzWO" required_version="1.0"/>
<tizen:setting screen-orientation="landscape" contextmenu="enable"/>
</widget-->

<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = ""
        version     = "git"
        height      = "490"
        width       = "820">
 
  <name short="supermario">
    Rutherford Scattering
  </name>

  <description>
    Rutherford Scattering
    -------------
    Rutherford Scattering

  </description>

  <author href=""></author>

  <icon src="orca.png"/>
  <content src="rutherford-scattering_en.html"/>

  <license>
    (c) 
  </license>
</widget>

